.book-card {
  margin: 1rem 3rem;
  .cardHeader {
    display: flex;
    .title {
      flex: 1;
      margin: 0;
    }
    .header-image {
      order: 1;
      border-radius: 0;
      img {
        height: 3.375rem;
      }
    }
  }
  .cardContent {
    p {
      padding: 0.3rem 0 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .author {
    display: flex;
    flex-direction: column;
    .authorTitle {
      font-weight: 500;
    }
  }
  mat-card-footer {
    padding: 1rem 1rem;
    .footerHeader {
      font-weight: 500;
      .footerVal {
        font-weight: normal;
      }
    }
  }
}
