<ng-container *ngIf="collection$ | async">
  <mat-card class="book-card" *ngFor="let book of collection$ | async">
    <div class="cardHeader">
      <mat-card-title class="title">{{ book.title }}</mat-card-title>
      <div class="header-image">
        <img src="{{ book.imageLinks }}" alt="" />
      </div>
    </div>
    <mat-card-content class="cardContent">
      <p>{{ book.description }}</p>
    </mat-card-content>
    <div class="author">
      <span class="authorTitle">Written By:</span>
    </div>
    <span *ngIf="book.authors">
      {{ book.authors.join(" and ") }}
    </span>
    <mat-card-footer *ngIf="User$ | async as user">
      <div class="footerHeader">
        <span>Billing Address</span>
      </div>
      <div class="footerHeader">
        <span>Name: </span>
        <span class="footerVal">{{ user.name }}</span>
      </div>
      <div class="footerHeader">
        <span>Email: </span>
        <span class="footerVal">{{ user.email }}</span>
      </div>
      <div class="footerHeader">
        <span>Phone: </span>
        <span class="footerVal">{{ user.phoneNumber }}</span>
      </div>
      <div class="footerHeader">
        <span>Address: </span>
        <span class="footerVal">{{ user.address }}</span>
      </div>
    </mat-card-footer>
  </mat-card>
</ng-container>
