<mat-card class="book-card">
  <div class="cardHeader">
    <mat-card-title class="title">{{book.volumeInfo.title}}</mat-card-title>
    <div class="header-image">
      <img
        src="{{book.volumeInfo.imageLinks.smallThumbnail}}"
        alt=""
      />
    </div>
  </div>
  <mat-card-content class="cardContent">
    <div>
      <span class="cardTitle">Rating: </span>
      <span>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_rate</mat-icon>
        <mat-icon>star_rate</mat-icon>
      </span>
    </div>
    <div>
      <span class="cardTitle">Publisher: </span>
      <span>{{book.volumeInfo.publisher}}</span>
    </div>
    <div>
      <span class="cardTitle">Page Count: </span>
      <span>{{book.volumeInfo.pageCount}}</span>
    </div>
    <div>
      <span class="cardTitle">Language: </span>
      <span>{{book.volumeInfo.language}}</span>
    </div>
    <p>{{book.volumeInfo.description}}</p>
  </mat-card-content>
  <div class="author">
    <span class="authorTitle">Written By:</span>
    <span>{{book.volumeInfo.authors.join(' and ')}}</span>
  </div>
  <!-- <span *ngIf="item.volumeInfo.authors">{{item.volumeInfo.authors.join(' and ')}}</span> -->
  <mat-card-actions>
    <button mat-flat-button color="accent" (click)="addToCart()">ADD TO CART</button>
    <button mat-flat-button color="accent" (click)="buyNow()">BUY</button>
  </mat-card-actions>
</mat-card>
