<mat-card class="book-card" *ngIf="selectedBook$ |async as selectedBook">
  <div class="cardHeader">
    <mat-card-title class="title">{{selectedBook.volumeInfo.title}}</mat-card-title>
    <div class="header-image" *ngIf="selectedBook.volumeInfo.imageLinks.smallThumbnail">
      <img
        src="{{selectedBook.volumeInfo.imageLinks.smallThumbnail}}"
        alt=""
      />
    </div>
  </div>
  <mat-card-content class="cardContent">
    <div>
      <span class="cardTitle">Rating: </span>
      <span>{{selectedBook.volumeInfo.averageRating}}</span>
    </div>
    <div>
      <span class="cardTitle">Publisher: </span>
      <span>{{selectedBook.volumeInfo.publisher}}</span>
    </div>
    <div>
      <span class="cardTitle">Page Count: </span>
      <span>{{selectedBook.volumeInfo.pageCount}}</span>
    </div>
    <div>
      <span class="cardTitle">Language: </span>
      <span>{{selectedBook.volumeInfo.language}}</span>
    </div>
    <p>{{selectedBook.volumeInfo.description}}</p>
  </mat-card-content>
  <div class="author">
    <span class="authorTitle">Written By:</span>
    <span>{{selectedBook.volumeInfo.authors.join(' and ')}}</span>
  </div>
  <mat-card-actions>
    <button mat-flat-button color="accent" (click)="addToCart()">ADD TO CART</button>
    <button mat-flat-button color="accent" (click)="buyNow()">BUY</button>
  </mat-card-actions>
</mat-card>
