.book-card {
  margin: 1rem 3rem;
  .cardHeader {
    display: flex;
    .title {
      flex: 1;
      margin: 0;
    }
    .header-image {
      order: 1;
      border-radius: 0;
      img {
        height: 3.375rem;
      }
    }
  }
  .cardContent {
    .cardTitle {
      font-weight: 500;
    }
    .mat-icon {
      font-size: 1rem;
      color: orange;
    }
    p {
      padding: 0.5rem 0;
    }
  }
  .author {
    display: flex;
    flex-direction: column;
    .authorTitle {
      font-weight: 500;
    }
  }
  .mat-card-actions {
    margin: 0;
    button {
      margin-right: 1em;
    }
  }
}
